body {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {

}

section {

}

footer {

}

ul {
  list-style: none;
}

.contact li {
  position: relative;
  right: 20px;
}
