* {
  box-sizing: border-box;
}

body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  margin: 0;
}

ol {
  list-style: none;
}

ul {
  position: relative;
  right: 2em;
}

ul li {
  list-style: none;
  background-color: LightYellow;
  border: 0.2em solid #0AB0EC;
  margin: 0.5em;
  padding: 1em;
}

p {
  margin-right: 6em;
  font-size: 0.8em;
}

section h2 {
  font-size: 1.5em;
  border-bottom: 4px solid #028ABC;
}

.name {
  padding: 11.9em;
  background-color: LightYellow;
  padding-top: 9em;
  padding-bottom: 15em;
  position: relative;
}

.name h1 {
  background-color: LightYellow;
  padding: 0.5em;
  margin: 0;
  background-color: LightYellow;
  font-size: 3em;
  color: #028ABC;
  text-align: center;
}

.name h2 {
  background-color: LightYellow;
  padding: 1em;
  margin: 0;
  background-color: LightYellow;
  font-size: 1.5em;
  color: #028ABC;
  text-align: center;
  border-top: 1px solid #0AB0EC;


}

.name img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  /*visibility: hidden;*/
}

.name > img:hover {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

nav {
  float: right;
  width: 11em;
}

nav:after {

}

nav ul {
  position: fixed;
  right: 0;
  top: 8em;
  padding: 0;
  margin: 0;
  background-color: #028ABC;
  opacity: 0.1;
  z-index: 1;
}

nav ul:hover {
  position: fixed;
  right: 0;
  top: 8em;
  padding: 0;
  margin: 0;
  background-color: #028ABC;
  opacity: 0.7;
  z-index: 1;
}

nav li {
  padding: 0.9em;
  font-size: 0.9em;
  border: 0px solid #028ABC;
  margin: 1em;
  opacity: 10%;
}

nav li:hover {
  padding: 0.9em;
  font-size: 0.9em;
  border: 0px solid #028ABC;
  margin: 1em;
  background-color: black;
}

nav a {
  font-size: 1em;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

nav a:hover {
  font-size: 1.2em;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

nav a:active {
  font-size: 1.1em;
  font-weight: bolder;
  color: #028ABC;
  text-decoration: none;
}

#personal {
  padding: 0;
  position: relative;
}

#personal p {
  padding: 1em;
  margin-bottom: 2em;
  /*margin-left: 2em;*/
  margin-right: 0;
  font-size: 0.8em;
  text-align: center;
}

#personal h3 {
  color: #028ABC;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  margin: 1em;
  border-bottom: 1px solid #028ABC;
}

#personal h4 {
  color: #028ABC;
  text-align: center;
}

#about {


}

#detail {
  margin-top: 2em;
  margin-bottom: 1em;

}

#personal img {
display: block;
margin-left: auto;
margin-right: auto;
border: 4px solid black;
}

#personal ul {
  margin: 0;
}

#personal li {
  border: 0;
  background-color: white;
  font-size: 0.8em;
  padding: 0.6em;
  text-align: center;
  margin-left: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

section#employment{
  padding: 1em;
}

section#TechSkills {
  padding: 1em;
}

#TechSkills p {
  margin-right: 10em;
}

#tech li {
  padding: 1em;
  border: 2px solid black;
  margin-right: 19em;
  font-size: 0.8em;
}

#tech li:hover {
  padding: 1em;
  border: 2px solid black;
  margin-right: 19em;
  background-color: #028ABC;
  font-size: 0.9em;
  color: white;

}

section#Education {
  padding: 1em;
}

section#hobby {
  padding: 1em;
}

#hobby p {
  margin-right: 10em;
}

footer {
  background-color: LightYellow;
  margin: 1rem;
  border: 3px solid #0AB0EC;
  position: relative;
}

footer p {
  display: block;
  margin-left: 1.5em;
  margin-top: 1em;
  font-size: 0.4em;
}

footer img {
  float: right;
  width: 2em;
  padding-right: 0.6em;
  margin-bottom: 1em;
  margin-top: -1.2em;
  margin-right: 1em;
}

footer img:hover {
  float: right;
  width: 3em;
  padding-right: 0.6em;
  margin-bottom: 1em;
  margin-top: -1.2em;
  margin-right: 1em;
}

footer img:active {
  float: right;
  width: 2.8em;
  padding-right: 0.6em;
  margin-bottom: 1em;
  margin-top: -1.2em;
  margin-right: 1em;
}

.contact li {
  border: 0;
  font-size: 0.7em;
}

.contact li {
  display: inline;
  padding: 1em;
}

@media screen and (min-width: 1100px){

  nav {
    float: right;
    width: 11em;
  }

  nav:after {

  }

  nav ul {
    position: fixed;
    right: 0;
    top: 8em;
    padding: 0;
    margin: 0;
    background-color: #028ABC;
    opacity: 0.7;
    z-index: 1;
  }

  nav ul:hover {
    position: fixed;
    right: 0;
    top: 8em;
    padding: 0;
    margin: 0;
    background-color: #028ABC;
    opacity: 0.7;
    z-index: 1;
  }

  nav li {
    padding: 0.9em;
    font-size: 0.9em;
    border: 0px solid #028ABC;
    margin: 1em;
    opacity: 10%;
  }

  nav li:hover {
    padding: 0.9em;
    font-size: 0.9em;
    border: 0px solid #028ABC;
    margin: 1em;
    background-color: black;
  }

  nav a {
    font-size: 1em;
    font-weight: bolder;
    color: black;
    text-decoration: none;
  }

  nav a:hover {
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    text-decoration: none;
  }

  nav a:active {
    font-size: 1.1em;
    font-weight: bolder;
    color: #028ABC;
    text-decoration: none;
  }

  #personal {
    padding: 0;
    position: relative;
  }

  #personal p {
    padding: 1em;
    margin-bottom: 2em;
    /*margin-left: 2em;*/
    margin-right: 57em;
    font-size: 0.8em;
    /*text-align: center;*/
  }

  #personal h3 {
    color: #028ABC;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    margin: 1em;
    border-bottom: 1px solid #028ABC;
  }

  #personal h4 {
    color: #028ABC;

  }

  #about {
    position: absolute;
    top: 1.2em;
    left: 11em;

  }

  #detail {
    /*margin-top: 2em;
    margin-bottom: 1em;*/
    position: absolute;
    top: 0.5em;
    right: 11em;

  }

  #personal img {
  display: block;
  /*margin-left: auto;
  margin-right: auto;*/
  position: absolute;
  top: 30%;
  left: 43%;
  border: 4px solid black;
  }

  #personal ul {
    margin: 0;
    position: absolute;
    top: 5em;
    right: 10em;
  }

  #personal li {
    border: 0;
    background-color: white;
    font-size: 0.8em;
    padding: 0.6em;
    text-align: right;
    margin-left: 4em;
    margin-top: 0;
    margin-bottom: 0;
  }

  section#employment{
    padding: 1em;
  }

  section#TechSkills {
    padding: 1em;
  }

  #TechSkills p {
    margin-right: 15em;
  }

  #tech li {
    padding: 1em;
    border: 2px solid black;
    margin-right: 19em;
    font-size: 0.9em;
  }

  #tech li:hover {
    padding: 1em;
    border: 2px solid black;
    margin-right: 19em;
    background-color: #028ABC;
    font-size: 1em;
    color: white;

  }

  section#Education {
    padding: 1em;
  }

  section#hobby {
    padding: 1em;
  }

  #hobby p {
    margin-right: 15em;
  }

}

.clearfix:after {
   content: "."; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
